.sidebar {
    width: 250px;
}

.nav-link {
    font-size: 1rem;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #495057;
    text-decoration: none;
}